* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-btn-text-col);
  background-image: url('../images/bg-desktop.svg');
  font-family: var(--ff-body);
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--ff-headings);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

main {
  padding: 2rem 1rem;
  min-height: 100vh;
  max-width: 81.25rem;
  margin: 0 auto;
  justify-content: space-between;
}