:root {
  --bg-btn-text-col: hsl(257, 40%, 49%);
  --btn-bg-hover-col: hsl(300, 69%, 71%);
  
  --ff-headings: 'Poppins', sans-serif;
  --ff-body: 'Open Sans', sans-serif;
  --fw-regular: 400;
  --fw-semibold: 600;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

.btn {
  padding: 0.75rem 3rem;
  border-radius: 50px;
  box-shadow: 0 10px 10px -10px #000;
}
.btn-light {
  background-color: #fff;
  color: var(--bg-btn-text-col);
}
.btn-dark {
  background-color: var(--bg-bg-hover-col);
  color: #fff;
}